section.offers
    .offers__container.container
        .heading-with-nav
            h2.title-section Специальные предложения
            .swiper-navigation.offers__nav
                .swiper-button-prev
                .swiper-button-next

        .offers__slider.swiper

            .swiper-wrapper

                a.swiper-slide.offers__item(href="")
                    .offers__item-content
                        span.badge-slide Exclusive
                        h3.offers__item-title Биохимический анализатор EXC 200 по цене 150 000 рублей
                        p.offers__item-desc Акция действует при покупке тест-полосок Combi-Screen 11SYS на сумму 115 000 руб. с НДС (7050 исследований)
                    img.offers__item-img(src="./assets/img/offers/01.png")

                a.swiper-slide.offers__item(href="")
                    .offers__item-content
                        span.badge-slide New
                        h3.offers__item-title Биохимический анализатор EXC 200 по цене 150 000 рублей
                        p.offers__item-desc Акция действует при покупке тест-полосок Combi-Screen 11SYS на сумму 115 000 руб. с НДС (7050 исследований)
                    img.offers__item-img(src="./assets/img/offers/02.png")

                a.swiper-slide.offers__item(href="")
                    .offers__item-content
                        span.badge-slide New
                        h3.offers__item-title Биохимический анализатор EXC 200 по цене 150 000 рублей
                        p.offers__item-desc Акция действует при покупке тест-полосок Combi-Screen 11SYS на сумму 115 000 руб. с НДС (7050 исследований)
                    img.offers__item-img(src="./assets/img/offers/03.png")


                a.swiper-slide.offers__item(href="")
                    .offers__item-content
                        span.badge-slide Exclusive
                        h3.offers__item-title Биохимический анализатор EXC 200 по цене 150 000 рублей
                        p.offers__item-desc Акция действует при покупке тест-полосок Combi-Screen 11SYS на сумму 115 000 руб. с НДС (7050 исследований)
                    img.offers__item-img(src="./assets/img/offers/01.png")

                a.swiper-slide.offers__item(href="")
                    .offers__item-content
                        span.badge-slide New
                        h3.offers__item-title Биохимический анализатор EXC 200 по цене 150 000 рублей
                        p.offers__item-desc Акция действует при покупке тест-полосок Combi-Screen 11SYS на сумму 115 000 руб. с НДС (7050 исследований)
                    img.offers__item-img(src="./assets/img/offers/02.png")

                a.swiper-slide.offers__item(href="")
                    .offers__item-content
                        span.badge-slide New
                        h3.offers__item-title Биохимический анализатор EXC 200 по цене 150 000 рублей
                        p.offers__item-desc Акция действует при покупке тест-полосок Combi-Screen 11SYS на сумму 115 000 руб. с НДС (7050 исследований)
                    img.offers__item-img(src="./assets/img/offers/03.png")


            .swiper-pagination
