section.feedback
    .feedback__container.container
        .feedback__content
            h2.title-section Подберем оптимальное оборудование, реагенты или расходные материалы
            p.feedback__text Задайте нам вопрос или прикрепите техническое задание
            img.feedback__img(src="./assets/img/feedback-img.png")
        include ../../components/form/form
