article.promo
    .promo__content
        .badge-slide.badge-slide--light Exclusive
        h3.promo__title Биохимический анализатор EXC 200 по цене 150 000 рублей
        p.promo__text Акция действует при покупке тест-полосок Combi-Screen 11SYS на сумму 115 000 руб. с НДС (7050 исследований)
    img.promo__img(src="./assets/img/products/05.png" data-da=".promo__content, 1280, 2")
