section.promotion
    .promotion__container.container
        h1.title-section-h1 Акции

        .promotion__list

            a.promotion__item(href="product-page.html")
                .promotion__item-content
                    span.badge-slide Exclusive
                    h3.promotion__item-title Биохимический анализатор EXC 200 по цене 150 000 рублей
                    p.promotion__item-desc Акция действует при покупке тест-полосок Combi-Screen 11SYS на сумму 115 000 руб. с НДС (7050 исследований)
                img.promotion__item-img(src="./assets/img/offers/01.png")

            a.promotion__item(href="product-page.html")
                .promotion__item-content
                    span.badge-slide Exclusive
                    h3.promotion__item-title Биохимический анализатор EXC 200 по цене 150 000 рублей
                    p.promotion__item-desc Акция действует при покупке тест-полосок Combi-Screen 11SYS на сумму 115 000 руб. с НДС (7050 исследований)
                img.promotion__item-img(src="./assets/img/offers/01.png")

            a.promotion__item(href="product-page.html")
                .promotion__item-content
                    span.badge-slide Exclusive
                    h3.promotion__item-title Биохимический анализатор EXC 200 по цене 150 000 рублей
                    p.promotion__item-desc Акция действует при покупке тест-полосок Combi-Screen 11SYS на сумму 115 000 руб. с НДС (7050 исследований)
                img.promotion__item-img(src="./assets/img/offers/01.png")

            a.promotion__item(href="product-page.html")
                .promotion__item-content
                    span.badge-slide Exclusive
                    h3.promotion__item-title Биохимический анализатор EXC 200 по цене 150 000 рублей
                    p.promotion__item-desc Акция действует при покупке тест-полосок Combi-Screen 11SYS на сумму 115 000 руб. с НДС (7050 исследований)
                img.promotion__item-img(src="./assets/img/offers/01.png")

        .pagination
            button.pagination__btn-more.button.button-outline-dark(type="button") Показать еще 10
            .pagination__list
                a.pagination__prev(href="")
                a.pagination__item.active(href="") 1
                a.pagination__item(href="") 2
                a.pagination__item(href="") 3
                a.pagination__item(href="") 4
                span.pagination__dots ...
                a.pagination__item(href="") 12
                a.pagination__next(href="")