section.about 
    .about__container.container
        .about__content
            h2.about__title О компании
            p.about__text-large Траст Мед Трейд работает на рынке комплексного оснащения клинических лабораторий с 2014 года.
            p.about__text-small Деятельность нашей компании направлена на соответствие высоким стандартам требований системы здравоохранения, внедрение современных решений в диагностике in vitro, улучшение подходов и принципов отечественной диагностики на основе достижений международных науки и техники.
            a.button.button-blue.about__button(href="##") Узнать подробнее

        img.about__img(src="./assets/img/about-img.png" data-da=".about__content, 1280, 2")
