//История компании
section.about.history
    .about__container.container
        .about__content
            h2.about__title История компании
            p.about__text-large Траст Мед Трейд работает на рынке комплексного оснащения клинических лабораторий с 2014 года.
            p.about__text-small На сегодняшний день компания сотрудничает с ведущими отечественными и зарубежными производителями, выводит на рынок современное оборудование и расходные материалы диагностики in vitro.

        img.about__img.about__img--default(src="./assets/img/history-img.png" data-da=".history .about__content, 1280, 2")
