//История компании
section.about.mission
    .about__container.container.row-reverse
        .about__content
            h2.about__title Цели и миссия
            p.about__text-large Траст Мед Трейд работает на рынке комплексного оснащения клинических лабораторий с 2014 года.
            p.about__text-small Непрерывно совершенствуем наши знания в области здравоохранения, расширяем представление о современных подходах клинических лабораторных исследований

        img.about__img.about__img--default(src="./assets/img/mission-img.png" data-da=".mission .about__content, 1280, 2")
