.product-page

  &__grid
    display: grid
    grid-template-columns: 3fr 2fr
    gap: 32px

  &__slider-wrap
    display: grid
    grid-template-columns: 80px auto
    gap: 12px
    overflow: hidden
    border-radius: 8px

  .swiper-main
    background-color: $white
    border-radius: 8px
    padding: 32px
    height: 650px
    @include mobile
      height: 300px
    .swiper-slide
      display: flex
      //align-items: center
      //justify-content: center


  &__aside
    background-color: $white
    border-radius: 8px
    padding: 24px
    height: fit-content
    @media (min-width: $width-tablet)
      position: sticky
      top: 120px
