section.product-page
    .product-page__container.container
        .product-page__grid

            .product-page__slider-wrap
                .swiper-thumbs
                    .swiper-wrapper
                        .swiper-slide
                            img(src="./assets/img/offers/01.png")
                        .swiper-slide
                            img(src="./assets/img/offers/02.png")
                        .swiper-slide
                            img(src="./assets/img/offers/03.png")
                .swiper-main
                    .swiper-wrapper
                        .swiper-slide
                            img(src="./assets/img/offers/01.png")
                        .swiper-slide
                            img(src="./assets/img/offers/02.png")
                        .swiper-slide
                            img(src="./assets/img/offers/03.png")
                    .swiper-pagination



            aside.product-page__aside
                h1 Dimynd
                p Анализатор 5-DIFF класса с автоматической подачей образцов (60 пробирок)
                button.button.button-blue(type="button") Узнать цену

