section.hero-about
    .hero-about__container.container
        h1.hero-about__title Ваш надежный поставщик оборудования и расходных материалов для клинических лабораторий
        .full-width-wrapper
            picture
                source(srcset="./assets/img/about/about-mobile.png" media="(max-width: 767px)")
                img.hero-about__img(src="./assets/img/about/about-desktop.png")
        ul.hero-about__advantages
            li.hero-about__advantages-item
                span.hero-about__advantages-item-num 200+
                span.hero-about__advantages-item-text оснащенных лабораторий
            li.hero-about__advantages-item
                span.hero-about__advantages-item-num 11
                span.hero-about__advantages-item-text лет на рынке in vitro диагностики
            li.hero-about__advantages-item
                span.hero-about__advantages-item-num 1000
                span.hero-about__advantages-item-text описание цифры-преимущества
            li.hero-about__advantages-item
                span.hero-about__advantages-item-num 13
                span.hero-about__advantages-item-text категорий <br> товаров
