//Обложка
section.hero
    .hero__container.container
        .hero__content
            .hero__heading
                h1.hero__title Оснащение <br> клинических <br> лабораторий
                h2.hero__subtitle продаём и обслуживаем
            .hero__img
                img(src="./assets/img/hero.png")
            .hero__advantages
                span.hero__advantages-large 200+
                span оборудованных лабораторий