//Footer
footer.footer
    .footer__container.container
        a.footer__logo(href="/")
            img(src="./assets/img/logo-light.svg")

        nav.footer__nav
            a.footer__nav-link(href="##" target="_blank") Продукция
            a.footer__nav-link(href="about.html" target="_blank") О компании
            a.footer__nav-link(href="##" target="_blank") Документы
            a.footer__nav-link(href="stocks.html" target="_blank") Акции

        .footer__bottom
            .footer__contacts
                a(href="tel:+78007000266") 8 (800) 700 02 66
                p ПН-ЧТ 9:00 -18:00 ; ПТ 9:00 - 17:00 (мск)

            button.button.button-outline.footer__button(type="button" onclick="window.modal.showModal()") Оставить заявку

            .footer__policy
                a(href="" target="_blank") Политика конфиденциальности
                span 2024 © ООО «ТрастМедТрейд»



include ../../components/modal/modal