.footer
  background-image: url('../img/footer-bg-full-2.png')
  background-position: center 0
  background-repeat: no-repeat
  padding: 94px 0 32px
  color: $white
  font-size: 14px
  @include tablet
    padding-top: 56px
    background-image: url('../img/footer-bg.png')
    font-size: 12px

  &__container
    display: flex
    flex-direction: column
    align-items: center

  &__logo img
    width: 210px
    @include tablet
      width: 130px

  &__nav
    display: flex
    flex-wrap: wrap
    align-items: center
    gap: 120px
    justify-content: space-between
    margin-top: 70px
    &-link
      text-transform: uppercase
      &:hover
        color: $dark-gray
    @include tablet
      gap: 40px
    @include mobile
      flex-direction: column
      justify-content: center
      margin-top: 40px
      gap: 16px


  &__bottom
    margin-top: 120px
    display: grid
    grid-template-columns: repeat(3, auto)
    justify-content: space-between
    width: 100%
    @include mobile
      grid-template-columns: repeat(2, auto)
      grid-template-rows: repeat(2, auto)
      margin-top: 40px
      gap: 16px

  &__contacts
    display: flex
    flex-direction: column
    gap: 8px
    font-size: 14px
    @include mobile
      gap: 12px
      font-size: 12px
    &--1
      text-align: left
      @include mobile
        grid-row: 1 / 2
        grid-column: 1 / 2
    &--2
      text-align: right
      @include mobile
        grid-row: 1 / 2
        grid-column: 2 / 3

  &__button
    @include tablet
      padding: 14px 57px
    @include mobile
      width: 100%
      grid-column: 1 / -1



  &__privacy
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 24px
    color: $dark-gray
    font-weight: 500
    font-size: 12px
    margin-top: 32px
    @include tablet
      font-size: 10px
    a:hover
      text-decoration: underline
    @include mobile
      gap: 8px
      flex-direction: column



