//Footer
footer.footer
    .footer__container.container
        a.footer__logo(href="index.html")
            img(src="./assets/img/logo-light.svg")

        nav.footer__nav
            a.footer__nav-link(href="##" target="_blank") Продукция
            a.footer__nav-link(href="about.html" target="_blank") О компании
            a.footer__nav-link(href="documents.html" target="_blank") Документы
            a.footer__nav-link(href="stocks.html" target="_blank") Акции

        .footer__bottom
            .footer__contacts.footer__contacts--1
                span г. Ставрополь, ул.Горная, д. 47А
                span ПН-ПТ 9:00-17:00

            button.button.button-outline.footer__button(type="button" onclick="window.modal.showModal()") Оставить заявку

            .footer__contacts.footer__contacts--2
                a(href="tel:+78007000266") 8 (800) 700 02 66
                a(href="mailto:sale1@t-mt.ru") sale1@t-mt.ru

        .footer__privacy
            a(href="" target="_blank") Политика конфиденциальности
            span(onclick="window.messageSuccess.showModal()") 2024 © ООО «ТрастМедТрейд»



include ../../components/modal/modal
include ../../components/message-success/message-success