//Партнеры
section.partners
    .partners__container.container
        h2.title-section Сотрудничаем с производителями передовых технологий
        .swiper.partners__slider
            .swiper-wrapper.partners__list

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/01.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/02.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/03.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/04.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/02.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/01.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/04.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/03.svg")

            .swiper-pagination