//Партнеры
section.partners
    .partners__container.container
        .heading-with-nav
            h2.title-section.partners__title Сотрудничаем с производителями передовых технологий
            .swiper-navigation.partners__nav
                .swiper-button-prev
                .swiper-button-next
        .swiper.partners__slider
            .swiper-wrapper.partners__list

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/01.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/02.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/03.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/04.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/02.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/01.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/04.svg")

                .swiper-slide.partners__item
                    img.partners__item-img(src="./assets/img/partners/03.svg")

            .swiper-pagination