extends ../layouts/main

block variables
  - let title = "Траст Мед Трейд - Каталог"

block content
    +breadcrumbs([{text: "Главная", url: "index.html"}, {text: "Каталог", url: "index.html"}, {text: "Гематология"}])

    include ../blocks/catalog/catalog
    include ../blocks/products/products
    include ../blocks/feedback/feedback
    include ../blocks/partners/partners
    include ../blocks/advantages/advantages