extends ../layouts/main

block variables
  - let title = "Траст Мед Трейд"

block content
  include ../blocks/hero/hero
  include ../blocks/offers/offers
  include ../blocks/directions/directions
  include ../blocks/products/products
  include ../blocks/partners/partners
  include ../blocks/feedback/feedback
  include ../blocks/about/about
  include ../blocks/advantages/advantages

