// Сообщение об успешной отправки формы
dialog.message-success#messageSuccess
    .message-success__body
        button.button-close.message-success__close(type="button" onclick="window.messageSuccess.close()")
        img.message-success__icon(src="./assets/img/icons/success.svg")
        h4.message-success__title Ваша заявка успешно отправлена!
        p.message-success__text Скоро с вами свяжется наш менеджер!

