section.advantages
    .advantages__container.container
        h2.title-section.advantages__title Почему Trust Med Trade?

        .swiper.advantages__slider
            .swiper-wrapper

                .swiper-slide.advantages__item.width-slide
                    img.advantages__item-img(src="./assets/img/advantages/01.png")
                    h3.advantages__item-title Прямые поставки от производителей
                    p.advantages__item-text Выгодные цены и сервис без посредников

                .swiper-slide.advantages__item.width-slide
                    img.advantages__item-img(src="./assets/img/advantages/02.png")
                    h3.advantages__item-title Индивидуальный подход 
                    p.advantages__item-text Изучим вашу потребность или проблему, предложим оптимальное решение

                .swiper-slide.advantages__item.width-slide
                    img.advantages__item-img(src="./assets/img/advantages/03.png")
                    h3.advantages__item-title Более 10 лет на рынке
                    p.advantages__item-text Охотно делимся накопленным опытом и знаниями

            .swiper-pagination