//СМертификаты
section.certificates
    .certificates__container.container
        .heading-with-nav
            h2.title-section Направления
            .swiper-navigation.certificates__nav
                .swiper-button-prev
                .swiper-button-next

        .certificates__slider.swiper

            .swiper-wrapper

                .swiper-slide.certificates__item.width-slide
                    img(src="./assets/img/doc.jpg")
                .swiper-slide.certificates__item.width-slide
                    img(src="./assets/img/doc.jpg")
                .swiper-slide.certificates__item.width-slide
                    img(src="./assets/img/doc.jpg")
                .swiper-slide.certificates__item.width-slide
                    img(src="./assets/img/doc.jpg")
                .swiper-slide.certificates__item.width-slide
                    img(src="./assets/img/doc.jpg")
            .swiper-pagination
