details.details-doc
    summary.details-doc__title Название группы документов
    .details-doc__files
        .details-doc__file
            .details-doc__file-title Название документа.pdf
            a(href="##") Открыть
            a(href="##" download) Скачать

        .details-doc__file
            .details-doc__file-title Название документа.pdf
            a(href="##") Открыть
            a(href="##" download) Скачать