head
    meta(charset="utf-8")
    title #{title}

    meta(name="viewport" content="width=device-width,initial-scale=1 shrink-to-fit=no")

    //favicon
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/favicon-180x180.ico")
    link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.ico")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.ico")

    link(rel="stylesheet" type='text/css' href="./assets/css/libs.min.css")
    link(rel="stylesheet" type='text/css' href="./assets/css/main.css")


