section.privacy
    .privacy__container.container
        h1.privacy__title.title-section-h1 Политика конфиденциальности
        .privacy__body

            h3 Общие положения
            ol
                li Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту Интернет-магазина TrastMedTrade, расположенному по адресу www.trastmedtrade.ru
                li Сайт Интернет-магазина TrastMedTrade (далее – Сайт или Интернет-магазин) является собственностью ОБЩЕСТВА С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ТРАСТ МЕД ТРЕЙД" в лице генерального директора Шевченко Наталии Александровны.
                li Настоящее Соглашение регулирует отношения между Администрацией сайта Интернет-магазина TrastMedTrade (далее – Администрация сайта) и Пользователем данного Сайта.
                li Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.
                li Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений, внесенных в настоящее Соглашение.
                li Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.

            br
            br

            h3 Определение терминов
            ol
                li Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение:
                    ol
                        li Darkrain – Интернет-магазин, расположенный на доменном имени www.trastmedtrade.ru, осуществляющий свою деятельность посредством Интернет-ресурса и сопутствующих ему сервисов.
                        li Интернет-магазин – Сайт, содержащий информацию о Товарах, Продавце, позволяющий осуществить выбор, заказ и (или) приобретение Товара.
                        li Администрация сайта Интернет-магазина – уполномоченные сотрудники на управления Сайтом, действующие от имени ОБЩЕСТВА С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ТРАСТ МЕД ТРЕЙД" в лице генерального директора Шевченко Наталии Александровны.
                        li Пользователь сайта Интернет-магазина (далее — “Пользователь”) – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
                        li Содержание сайта Интернет-магазина (далее – “Содержание”) — охраняемые результаты интеллектуальной деятельности.


            br
            br
            h3 Предмет соглашения
            ol
                li Предметом настоящего Соглашения является предоставление возможности Пользователю приобретать для некоммерческих нужд Товары, представленные в каталоге Интернет-магазина. Настоящее Соглашение заключается между Покупателем и Интернет-магазином в момент оформления заказа. Покупатель подтверждает свое согласие с условиями Соглашения, путем проставления отметки в графе «Я согласен с правилами магазина» при оформлении заказа.
                    ol
                        li Интернет-магазин предоставляет Пользователю следующие виды услуг:
                            ul
                                li доступ к средствам поиска и навигации Интернет-магазина;
                                li доступ к информации о Товаре и к информации о приобретении Товара на платной основе;
                                li иные виды услуг (сервисов), реализуемые на страницах Интернет-магазина.
                        li Под действие настоящего Соглашения подпадают все существующие (реально функционирующие) на данный момент услуги Интернет-магазина, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги Интернет-магазина.
                li Настоящее Соглашение и информация о товаре является публичной офертой (в соответствии со ст.435 и ч.2 ст.437 ГК РФ). Получая доступ к Сайту Пользователь считается присоединившимся к настоящему Соглашению.
                li Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.
                li К отношениям между Интернет-магазином и Покупателем применяются ст. 497 Федерального закона РФ от 25.10.2007 N 234-ФЗ Гражданского Кодекса Российской Федерации о продажах товаров дистанционным способом, а также Закон РФ «О защите прав потребителей» от 07.02.1992 № 2300-1 и иные правовые акты, принятые в соответствии с ними.


            br
            br
            h3 Приобретение товара
            ol
                li Товар представлен на Сайте через изображения образцов.
                li Каждое изображение сопровождается описанием товара и его ценой. Изображение товара может отличаться от его фактического внешнего вида. Описание товара не является исчерпывающим и может содержать ошибки или неточности.
                li По просьбе Покупателя менеджер Интернет-магазина обязан предоставить (по телефону или посредством электронной почты) прочую информацию, необходимую и достаточную, с точки зрения Покупателя, для принятия им решения о покупке товара, а также проверить наличие товара на складе.
                li В случае отсутствия заказанных Покупателем Товаров на складе Продавца, последний вправе исключить указанный Товар из Заказа или аннулировать Заказ Покупателя, уведомив об этом Покупателя путем направления соответствующего электронного сообщения по адресу, указанному Покупателем при регистрации (либо звонком оператора). В случае аннулирования предоплаченного товара, Продавец обязуется вернуть стоимость оплаченного Товара тем способом, которым он был оплачен. Покупатель вправе заменить отсутствующий товар другим товаром, который присутствует на складе.
                li Указанная на Сайте цена товара может быть изменена Интернет-магазином в одностороннем порядке.
                li В случае изменения цены товара, заказанного Покупателем, менеджер Интернет-магазина при первой возможности информирует об этом Покупателя (по телефону или посредством электронной почты) для получения подтверждения либо аннулирования заказа. При невозможности связаться с Покупателем данный заказ считается аннулированным.
                li Приобретение Товара, предлагаемого на Сайте, может потребовать создания учётной записи Пользователя.
                li Пользователь несет персональную ответственность за сохранение конфиденциальности информации учётной записи, включая пароль, а также за всю без исключения деятельность, которая ведётся от имени Пользователя учётной записи.
                li Пользователь должен незамедлительно уведомить Администрацию сайта о несанкционированном использовании его учётной записи или пароля или любом другом нарушении системы безопасности.
                li Заказ может быть оформлен Покупателем следующими способами: по электронной почте info@darkrain.store или оформлен самостоятельно на Сайте.
                li После оформления заказа на e-mail Покупателя отправляется письмо, подтверждающее принятие заказа, с указанием наименований выбранных товаров и общей суммы заказа, являющийся неотъемлемой частью настоящего Соглашения. Далее менеджер Интернет-магазина связывается с Покупателем (по телефону или посредством электронной почты) для получения подтверждения заказа.
                li Покупатель вправе отказаться от заказанного товара в любое время до его отправки Покупателю, заблаговременно поставив в известность об этом Интернет-магазин (по телефону или посредством электронной почты).
                li Согласно Перечню непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размеров, формы, габарита, фасона, расцветки или комплектации, утвержденного Постановлением Правительства РФ от 19.01.1998 N 55, изделия из драгоценных металлов, с драгоценными камнями, из драгоценных металлов со вставками из полудрагоценных и синтетических камней, ограненные драгоценные камни надлежащего качества обмену и возврату не подлежат.



            br
            br
            h3 Доставка товара по России
            ol
                li Способы и примерные сроки доставки указаны на Сайте в разделе “Доставка”.
                li Доставка заказанных и оплаченных товаров производится в пределах территории РФ и может быть ограничена по усмотрению Администрации Сайта.
                li Стоимость доставки рассчитывается индивидуально при оформлении заказа в Корзине Интернет-магазина и оплачивается Покупателем.
                li Покупатель обязан произвести в присутствии курьера осмотр товара, проверить его наличие, количество и качество. Обязанность Сайта по передаче Товара Покупателю считается исполненной в момент передачи Товара.
                li Риск случайного разрушения или повреждения Товара переходит к Покупателю в момент передачи ему товара, после того, как Покупателем поставлена подпись в документах, подтверждающих Доставку товара.
                li Обязанность Сайта о передаче Товара Покупателю считается исполненной в момент передачи Товара Покупателю сотрудником курьерской службы.
                li Покупатель соглашается с тем, что доставка не является частью Товара, но лишь отдельной услугой, которая заканчивается в момент передачи Товара Покупателю. В связи с этим приобретение Товара с доставкой не дает Покупателю право требования доставки приобретенного Товара в целях гарантийного обслуживания или замены, не дает возможности осуществлять гарантийное обслуживание или замену Товара посредством выезда к Покупателю и не подразумевает возможность возврата стоимости доставки Товара в случаях, когда Покупатель имеет право на возврат денег за Товар как таковой, в соответствии с Законом РФ «О защите прав потребителей».


            br
            br
            h3 Международная доставка товара
            ol
                li Сайт в праве на своё усмотрение ограничить территорию распространения услуги “Международная доставка”.
                li Сайт в праве на своё усмотрение ограничивать Товары, которые доступны для Международной отправки.
                li Цена Международной доставки согласовывается между Сайтом и Покупателем перед моментом совершения покупки по электронной почте. После согласования цены доставки, цена суммируется с суммой заказа.


            br
            br
            h3 Оплата товара
            ol
                li Способы оплаты товара указаны на Сайте в разделе “Доставка и оплата”.
                li Товары оплачиваются только в валюте РФ.
                li В случае неверного указания цены заказанного Покупателем Товара, Продавец информирует об этом Покупателя для подтверждения Заказа по исправленной цене либо аннулирования Заказа.
                li При невозможности связаться с Покупателем данный Заказ считается аннулированным. Если Заказ был оплачен, Продавец возвращает Покупателю оплаченную за Заказ сумму тем же способом, которым она была уплачена.
                li Цена Товара на Сайте может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный Покупателем Товар изменению не подлежит.
                li Фактом приемки товара Покупателем является оплата товара (оплата общей суммы заказа и суммы расходов по доставке товара Покупателю).


            br
            br
            h3 Возврат товара и денежных средств
            ol
                li Условия возврата Товара указаны на сайте в разделе “Гарантия и возврат”.
                li Согласно Перечню непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размеров, формы, габарита, фасона, расцветки или комплектации, утвержденного Постановлением Правительства РФ от 19.01.1998 N 55, изделия из драгоценных металлов, с драгоценными камнями, из драгоценных металлов со вставками из полудрагоценных и синтетических камней, ограненные драгоценные камни надлежащего качества обмену и возврату не подлежат.
                li В индивидуальном порядке вы можете обменять украшение, если оно не было в употреблении: нет следов носки и сохранен товарный вид. Издержки на обратную отправку покупатель берет на себя. После получения нами изделия в надлежащем виде в течение семи рабочих дней мы отправим сумму покупки обратно на ваш банковский счет, для этого вам нужно отправить заявление с вашими реквизитами (ФИО полностью, БИК, Счет, Корр. счет) на нашу почту info@darkrain.store
                li При отказе Покупателя от товара Интернет-магазин возвращает ему денежную сумму, уплаченную за товар, кроме суммы расходов Интернет-магазина, связанных с доставкой товара Покупателю и вывозом товара от Покупателя (стоимость доставки Товара курьерской службой оплачивается Покупателем), не позднее десяти дней со дня предъявления Покупателем соответствующего требования.
                li Возврат денежных средств осуществляется посредством возврата стоимости оплаченного товара на банковские реквизиты клиента
                li Товар ненадлежащего качества может быть заменен на аналогичный товар надлежащего качества, либо возвращен Продавцу, в этом случае доставку товара оплачивает Продавец.
                li Отличие элементов дизайна или оформления от заявленного на Сайте описания не является признаком ненадлежащего качества.
                li Внешний вид Товара и комплектность Заказа Покупатель обязан проверить в момент доставки Товара. Принятие заказа означает, что Покупатель не имеет претензий к количеству и внешнему виду товара.
                li Данный договор считается заключенным с момента выдачи продавцом покупателю кассового или товарного чека, либо иного документа, подтверждающего оплату товара, или с момента получения продавцом сообщения о намерении приобрести товар.


            br
            br
            h3 Права и обязанности сторон
            ol
                li Администрация сайта вправе:
                    ol
                        li Изменять правила пользования Сайтом, а также изменять содержание данного Сайта. Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.
                        li Ограничить доступ к Сайту в случае нарушения Пользователем условий настоящего Соглашения.
                        li Расширять и сокращать товарное предложение на Сайте, регулировать доступ к покупке любых товаров, а также приостанавливать или прекращать продажу любых товаров по своему собственному усмотрению.Сайт вправе проводить специальные акции.
                        li В соответствии с Федеральным законом «О персональных данных», размещая заказ, Вы даете согласие Интернет-магазину на обработку своих персональных данных в целях рассылки информации и продвижения товаров на рынке, без ограничения срока. Указанное согласие может быть отозвано Вами путём направления письменного уведомления. В этом случае Ваши персональные данные будут уничтожены, а их обработка прекращена в течение 7 рабочих дней с даты получения нами уведомления.
                        li Персональные данные Пользователя/Покупателя обрабатывается в соответствии с ФЗ «О персональных данных» № 152-ФЗ.
                        li Продавец обязуется соблюдать конфиденциальность в отношении персональных данных Покупателя, а также иной информации о Покупателе, ставшей известной Продавцу в связи с исполнением настоящего Соглашения, за исключением случаев, когда такая информация: является общедоступной; раскрыта по требованию или с разрешения Покупателя; требует раскрытия по основаниям, предусмотренным законодательством, или при поступлении соответствующих запросов суда или уполномоченных государственных органов; раскрыта по иным основаниям, предусмотренным соглашением Сторон.
                        li Продавец вправе в одностороннем порядке вносить изменения в Соглашение путем публикации изменений на Сайте по адресу www.darkrain.store, если иное не предусмотрено новой редакцией Соглашения.
                        li Соглашение является юридически обязывающим договором между Покупателем и Продавцом содержит правила совершения покупок в Интернет-магазине www.trastmedtrade.ru
                li Пользователь Сайта обязуется:
                    ol
                        li Предоставлять по запросу Администрации сайта дополнительную информацию, которая имеет непосредственное отношение к предоставляемым услугам данного Сайта.
                        li Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.
                li Пользователю запрещается:
                    ol
                        li Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания Сайта данного Интернет-магазина;
                        li Нарушать надлежащее функционирование Сайта;
                        li Несанкционированный доступ к функциям Сайта, а также к любым услугам, предлагаемым на Сайте;
                        li Нарушать систему безопасности или аутентификации на Сайте.
                        li Использовать Сайт и его Содержание в любых целях, запрещенных законодательством Российской Федерации, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права интернет-магазина или других лиц.


            br
            br
            h3 Использование сайта интернет-магазина
            ol
                li Сайт и Содержание, входящее в состав Сайта, принадлежит и управляется Администрацией сайта
                li Содержание Сайта защищено авторским правом, законодательством о товарных знаках, а также другими правами, связанными с интеллектуальной собственностью, и законодательством о недобросовестной конкуренции.
                li Настоящее Соглашение распространяет свое действия на все дополнительные положения и условия о покупке Товара и оказанию услуг, предоставляемых на Сайте.
                li Информация, размещаемая на Сайте не должна истолковываться как изменение настоящего Соглашения.
                li Администрация сайта имеет право в любое время без уведомления Пользователя вносить изменения в перечень Товаров и услуг, предлагаемых на Сайте, и (или) в цены, применимые к таким Товарам по их реализации и (или) оказываемым услугам Интернет-магазином.


            br
            br
            h3 Ответственность
            ol
                li Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего Соглашения, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя, Администрацией сайта не возмещаются.
                li Администрация сайта не несет ответственности за:
                    ol
                        li Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.
                        li Действия систем переводов, банков, платежных систем и за задержки связанные с их работой.
                        li Надлежащее функционирование Сайта, в случае, если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами.
                li За ущерб, причиненный Покупателю вследствие ненадлежащего использования Товаров, приобретенных в Интернет-магазине.


            br
            br
            h3 Нарушение условий договора публичной оферты
            ol
                li Администрация сайта вправе раскрыть любую собранную о Пользователе данного Сайта информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении неправомерного использования Сайта либо для установления (идентификации) Пользователя, который может нарушать или вмешиваться в права Администрации сайта или в права других Пользователей Сайта.
                li Администрация сайта имеет право раскрыть любую информацию о Пользователе, которую посчитает необходимой для выполнения положений действующего законодательства или судебных решений, обеспечения выполнения условий настоящего Соглашения, защиты прав или безопасности генеральный директор Шевченко Наталия Александровна и Пользователей.
                li Администрация сайта имеет право раскрыть информацию о Пользователе, если действующее законодательство Российской Федерации требует или разрешает такое раскрытие.
                li Администрация сайта вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сайту, если Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по причине технической неполадки или проблемы.
                li Администрация сайта не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.


            br
            br
            h3 Разрешение споров
            ol
                li В случае возникновения любых разногласий или споров между Сторонами настоящего Соглашения обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).
                li Получатель претензии в течение 30 календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
                li При невозможности разрешить спор в добровольном порядке любая из Сторон вправе обратиться в суд за защитой своих прав, которые предоставлены им действующим законодательством Российской Федерации.


            br
            br
            h3 Дополнительные условия
            ol
                li Администрация сайта не принимает встречные предложения от Пользователя относительно изменений настоящего Пользовательского соглашения.
